<app-bread-crumb
  [items]="[{text: 'Products', link: '/products'}, {text: pageTitle}]"
></app-bread-crumb>

<app-page-header
  [page-title]="pageTitle"
  button-text="<< Voltar"
  button-link="/products"
  button-class="btn-light"
></app-page-header>


<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">    
      Product information
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="descricao">Descrição</label>
          <input type="text" class="form-control" id="descricao" formControlName="ca_descricao">

          <app-form-field-error [form-control]="resourceForm.get('ca_descricao')"></app-form-field-error>
        </div>
        <div class="form-group col-md-2">
          <label for="digito">Dígito</label>
          <input type="text" class="form-control" id="digito" formControlName="ca_digito">

          <app-form-field-error [form-control]="resourceForm.get('ca_digito')"></app-form-field-error>
        </div>

        <div class="form-group col-md-2">
          <label for="cbo">Cbo</label>
          <input type="text" class="form-control" id="cbo" formControlName="ca_cbo">

          <app-form-field-error [form-control]="resourceForm.get('ca_cbo')"></app-form-field-error>
        </div>  

        
       
      </div>
    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
    Salvar
  </button>

</form>

