<app-bread-crumb
  [items]="[{text: 'Empresa', link: '/company'}, {text: pageTitle}]"
></app-bread-crumb>

<app-page-header
  [page-title]="pageTitle"
  button-text="<< Voltar"
  button-link="/company"
  button-class="btn-light"
></app-page-header>


<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Informações sobre Empresa
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description" formControlName="description">

          <app-form-field-error [form-control]="resourceForm.get('description')"></app-form-field-error>
        </div>      

        
        <div class="form-group col-md-4">
          <label for="cnpj">Cnpj</label>
          <p-inputMask  class="form-control" formControlName="cnpj" mask="99.999.999/9999-99"></p-inputMask>
          <app-form-field-error [form-control]="resourceForm.get('cnpj')"></app-form-field-error>
        </div>

        <div class="form-group col-md-6">
            <label for="logradouro">Logradouro</label>
            <input type="text" class="form-control" id="logradouro" formControlName="logradouro">
  
            <app-form-field-error [form-control]="resourceForm.get('logradouro')"></app-form-field-error>
        </div>

        <div class="form-group col-md-2">
            <label for="numero">Numero</label>
            <input type="text" class="form-control" id="numero" formControlName="numero">
  
            <app-form-field-error [form-control]="resourceForm.get('numero')"></app-form-field-error>
        </div>

        <div class="form-group col-md-4">
          <label for="idtipo">Tipo</label>
          <select  id="idtipo" formControlName="typeCompany" class="form-control"  [compareWith]="compareFn" >
            <option *ngFor="let typeCompany of typeCompanies" [ngValue]="typeCompany">{{ typeCompany.description }}</option>
           </select>

          <app-form-field-error [form-control]="resourceForm.get('typeCompany')"></app-form-field-error>
       </div>

        
        <div class="form-group col-md-4">
            <label for="idcity">Município</label>
             <select class="form-control" formControlName="city"    [compareWith]="compareFn"  id="idcity">
                <option [ngValue]="null">--Selecione--</option>
                <option *ngFor="let city of cities"  [ngValue]="city"> {{city.name}} </option>
             </select>  
               <app-form-field-error [form-control]="resourceForm.get('city')"></app-form-field-error>
        </div>

        <div class="form-group col-md-4">
          <label for="idestado">Estado</label>
            <select class="form-control" formControlName="state" (change)="onSelect()" [compareWith]="compareFn"  id="idestado">
               <option [ngValue]="null">--Selecione--</option>
               <option *ngFor="let state of states"  [ngValue]="state"> {{state.name}} </option>
            </select>  
            <app-form-field-error [form-control]="resourceForm.get('state')"></app-form-field-error>
        </div>

        <div class="form-group col-md-4">
            <label for="latitude">Latitude</label>
            <input type="text" class="form-control" id="latitude" formControlName="latitude">
  
           <app-form-field-error [form-control]="resourceForm.get('latitude')"></app-form-field-error>
        </div>

        <div class="form-group col-md-4">
            <label for="longitude">Longitude</label>
            <input type="text" class="form-control" id="longitude" formControlName="longitude">
  
            <app-form-field-error [form-control]="resourceForm.get('longitude')"></app-form-field-error>
        </div>       
       
      </div>
    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
    Salvar
  </button>

</form>

