<app-bread-crumb [items]="[{text: 'Empresa'}]">

</app-bread-crumb>

<app-page-header page-title="Empresa" button-text="+ Nova Empresa" button-link="new" button-class="btn-success">
</app-page-header>

<app-order-table [columns]="columns" [items]="resources" [paginator]="true" [rows]="10"
  (delete)="deleteResource($event)">

</app-order-table>


